body {
    color: black;
    background-color: lightgray;
    font-family: cursive;
}

h1, nav {
    font-size: 25px;
    text-align: center;
}

h2 {
    color: #DC143C;
    font-size: 25px;
}

li {
    font-size: 25px;
}

img {
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 20px;
}

.examples {
    text-align: center;
}

#attacks {
    width: 700px;
    height: 250px;
    background-color: white;
}

.nav {
    color: #DC143C;
    text-decoration: none;
    font-size: 25px;
    margin: 20px 50px;
}

#footer {
    text-align: center;
    font-size: 25px;
}

#refs {
    list-style-type: none;
}

code {
    color: #DC143C;
    font-size: 20px;
    font-style: italic
}

#mainPic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

footer {
    margin-top: 100px;
    margin-left: 0;
}